extends layout

block content-title
  h2 Events
  section#Submit
    if session.user
        a.button.special.big(href='/create_event') Submit Events
    else
        p

block content
  section#filter
    h4 Filter:
    form#eventFilter
      p Event Name:
        input(name='name', placeholder='Event Name', value=name)
      p Start Date:
        input(name='start_date', type='date', value=start_date)
      p End Date:
        input(name='end_date', type='date', value=end_date)
      button submit
  #EventList
    each event, event_id in events
      section#Events
          a(href="view/" + event_id)
              h3 #{event.name}
          p #{event.location}
          p #{event.description}
          p #{event.start_date} #{event.start_time}
          p #{event.end_date} #{event.end_time}

block append scripts
  script(src='/js/jquery.validate.min.js')
  script(src='/js/event_filter.js')