doctype html
html
  head
    title DragonEvents
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='../css/main.css')
  body.landing
    // Header
    header#header.alt
      h1
        strong
          a(href='/') DragonEvents
      nav#nav
        ul
          li
            a(href='/') Home
          li
            a(href='/about') About Us
          li
            a(href='/events') Events
          li
            if session.user != null
                p Hello, #{session.user.firstName} #{session.user.lastName}!
            else
                a(href='/login') Login
    a.navPanelToggle(href='#menu')
      span.fa.fa-bars
    // Banner
    section#banner
      h2 DragonEvents
      p
        | A website for sharing and seeing any events going near the Drexel University Campus.
      br
      br
      p To be part of DragonEvents:
      ul.actions
        li
          a.button.special.big(href='/login') Login
    // Three
    section#three.wrapper.style1
      .container
        header.major.special
          h2 Featured Events
          p Events hosted by business users
        .feature-grid
            each event,event_id in events
              .feature
                .image.rounded
                  img(src='img/logo.jpg', alt='')
                .content
                  header
                      a(href='/view/' + event_id)
                        h4  #{event.name}
                      p #{event.location}
                      p  #{event.start_date} #{event.start_time} ~ #{event.end_date} #{event.end_time}
                      p #{event.description}
    // Four
    section#four.wrapper.style3.special
      .container
        header.map
          h2 Drexel University Campus Map
          .gmap.clear
            iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12233.277311052874!2d-75.19080240688479!3d39.95661269999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xef32de4043c30f0!2sDrexel+University!5e0!3m2!1sen!2sus!4v1519667932936', width='100%', height='400', frameborder='0', style='border:0', allowfullscreen='')

    // Footer
    footer#footer
      .container
        ul.icons
          li
            a.icon.fa-facebook(href='#')
          li
            a.icon.fa-twitter(href='#')
          li
            a.icon.fa-instagram(href='#')
        ul.copyright
          li © Untitled
          li
            | Design:
            a(href='http://templated.co') TEMPLATED
          li
            | Images:
            a(href='http://unsplash.com') Unsplash
    // Scripts
    script(src='../js/jquery.min.js')
    script(src='../js/skel.min.js')
    script(src='../js/util.js')
    script(src='../js/main.js')
    script(src='../js/gmap.js')
